label, radiobutton, button, editor {
    font-size: 13;
}

/**
    Not implemented as of XF 5.0.0
    https://github.com/xamarin/Xamarin.Forms/blob/main/Xamarin.Forms.Core/StyleSheets/Selector.cs#L41

    [FontSize=Small] {
    font-size: 11;
}
*/