<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>me.chucker.AltNetworkUtility.PrivilegedHelper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>me.chucker.AltNetworkUtility.PrivilegedHelper</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string></string>
	</array>
	<key>XPCService</key>
	<dict>
		<key>_AllowedClients</key>
		<array>
			<string>info[CFBundleIdentifier] = "me.chucker.AltNetworkUtility-macOS"</string>
		</array>
	</dict>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;me.chucker.AltNetworkUtility-macOS&quot;</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.16</string>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>RunLoopType</key>
		<string>NSRunLoop</string>
	</dict>
</dict>
</plist>
